
body{
    background-image:url(background.jpg);
    position: absolute;
    width:700px;
    background-size: cover;
    background-repeat: no-repeat;
    bottom: 80px;
    backdrop-filter: 20px;
}

.items{
    font-weight: bold;
    font-size: 20px;
    position: relative;
    letter-spacing: 3px;
    word-spacing: 5px;
    left: 950px;
    top:-600px;
}
.items a{
    text-decoration: none;
    color: bisque;
    text-shadow:1px 1px 0px white;
    background-color: black;
}



.menu-container{
    position: center;
    top: 1px;
    display: flex;
    justify-content: left;
    gap: 25px;
}


.card{
    background-color: #516750;
    padding: 15px;
    text-align: center;
    border-radius: 20px;
}

.card img{
    width: 200px;
    height: 250px;
    border-radius: 15px;
}
 
