
body{
    background-image:url(background.jpg);
    position: absolute;
    background-size: cover;
    background-repeat: no-repeat;
    bottom: 80px;
    backdrop-filter: 20px;
}


h1{
    font-size: 70px;
    font-weight: bolder;
    position: relative;
    top: -200px;
    left: 150px;
    color: beige;
    text-shadow: 4px 4px 0px black;
}

h2{
    font-size: 100px;
     color: beige;
    font-weight: bold;
    position: absolute;
    top: -550px;
    left: 12px;
    padding:40px;
    position:centre;
    text-shadow: 5px 5px 0px black;
}



.items{
        font-weight: bold;
    font-size: 20px;
    position: relative;
    letter-spacing: 3px;
    word-spacing: 5px;
    left: 950px;
    top:-600px;
    gap:10px;
}
.items a{
    text-decoration: none;
    color: bisque;
    text-shadow:1px 1px 0px white;
    background-color: black;
}
